 <div class="card-client">
      <div class="card-client__wrap">
        <div class="image">
          <div class="image__wrap">
            <img src="{{img  | img_url: 'master'  }}" alt="" width="" height="">
          </div>
          <div class="card__content">
            <div class="rating">
              {% for i in (1..rating) %}
                <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.5019 1.03696C12.1308 -0.0787267 13.7374 -0.0787284 14.3663 1.03696L17.2609 6.17265C17.4955 6.58887 17.8996 6.88244 18.368 6.97694L24.1468 8.14293C25.4022 8.39624 25.8987 9.92425 25.0319 10.8671L21.0421 15.2071C20.7187 15.5588 20.5644 16.0339 20.6193 16.5085L21.2961 22.3648C21.4431 23.637 20.1433 24.5814 18.9788 24.0484L13.6183 21.595C13.1838 21.3962 12.6844 21.3962 12.2499 21.595L6.88939 24.0484C5.72485 24.5814 4.42505 23.637 4.57209 22.3648L5.24892 16.5085C5.30377 16.0339 5.14943 15.5588 4.82608 15.2071L0.836259 10.8671C-0.0305012 9.92425 0.465977 8.39624 1.72139 8.14293L7.50022 6.97694C7.96856 6.88244 8.37263 6.58887 8.60723 6.17265L11.5019 1.03696Z" fill="#AA885B"/>
                </svg>
              {% endfor %}
            </div>
            <div class="text-1">
              <p> {{ text }}</p>
            </div>
            <div class="subtitle-2">
              <p> {{author}} </p>
            </div> 
          </div>
        </div>
      </div>
     </div>